<div class="ajouter">
  <h2>Ajouter une tâche</h2>
  <form  (ngSubmit)="ajouterTache()">
    <label for="titre">Titre :</label>
    <input id="titre" formControlName="titre" />
    <div *ngIf="taskForm.get('titre')?.invalid && taskForm.get('titre')?.touched">
      Le titre est requis.
    </div>

    <label for="description">Description :</label>
    <textarea id="description" formControlName="description"></textarea>

    <button type="submit" [disabled]="taskForm.invalid">Ajouter</button>
  </form>
</div>
